name: Build, Test & Push binaries

permissions:
  contents: write

on:
  pull_request:
  push:
      paths-ignore:
        - '.clang-format'
        - '.gitignore'
        - 'License.md'
        - 'README.md'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
        - { name: linux, image: ubuntu-latest, arch: x86_64 }
        - { name: macos-x64, image: macos-14-large, arch: x86_64 }
        - { name: macos-arm64, image: macos-14-xlarge, arch: arm64 }
        - { name: windows, image: windows-latest, arch: x64 }
        mode: [debug, release]

    runs-on: ${{ matrix.os.image }}

    steps:
    - name: Get current date as package key
      id: cache_key
      run: echo "key=$(date +'%W')" >> $GITHUB_OUTPUT
      shell: bash

    - name: Set OUTPUT_FILE variable
      run: |
        echo "OUTPUT_FILE=${{ matrix.os.name }}_${{ matrix.mode }}.tar.gz" >> $GITHUB_ENV
      shell: bash

    # Force xmake to a specific folder (for cache)
    - name: Set xmake env
      run: echo "XMAKE_GLOBALDIR=${{ runner.workspace }}/xmake-global" >> $GITHUB_ENV
      shell: bash

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Clone the whole repository to get correct tags and branches

    # Install xmake
    - name: Setup xmake
      uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: latest
        actions-cache-folder: .xmake-cache-W${{ steps.cache_key.outputs.key }}

    # Update xmake repository (in order to have the file that will be cached)
    - name: Update xmake repository
      run: xmake repo --update -vD

    - name: Configure xmake and install dependencies
      run: xmake config -vD --arch=${{ matrix.os.arch }} --mode=${{ matrix.mode }} --kind=static --yes --policies=package.precompiled:n

    - name: Build everything
      run: xmake build -a -vD

    # clap-validator doesn't exist on the runner
    #- name: Run tests
    #  run: xmake run -vD --group=TESTS

    - name: Install everything
      run: xmake install -a -vD -o tmpDest/

    - name: Copy files to the right location (windows)
      if: ${{ startsWith(matrix.os.name, 'windows') }}
      run: |
        mkdir -p dest/qt/
        mv tmpDest/bin/SfgGenerator.clap dest/
        mv tmpDest/bin/* dest/qt/
      shell: bash

    - name: Copy files to the right location (mac & linux)
      if: ${{ !startsWith(matrix.os.name, 'windows') }}
      run: |
        mkdir -p dest/qt/
        mv tmpDest/lib/SfgGenerator.clap dest/
        mv tmpDest/lib/* dest/qt/
      shell: bash

    - name: Archive result
      uses: ihiroky/archive-action@v1
      with:
        root_dir: dest
        file_path: ${{ env.OUTPUT_FILE }}
        verbose: true

    - name: Compute checksum of archive
      run: |
        if [ "${{ matrix.os.name }}" == "windows" ]; then
          sha256sum -b "$OUTPUT_FILE" > "$OUTPUT_FILE.sha256"
        else
          shasum -a 256 -b "$OUTPUT_FILE" > "$OUTPUT_FILE.sha256"
        fi
      shell: bash

    # Release tags (for tags)
    - name: Upload binaries to release (Tag)
      uses: svenstaro/upload-release-action@v2
      if: ${{ startsWith(github.event.ref, 'refs/tags/') }}
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{ env.OUTPUT_FILE }}
        asset_name: ${{ env.OUTPUT_FILE }}
        tag: ${{ github.ref }}
        overwrite: true

    - name: Upload checksum to release (Tag)
      uses: svenstaro/upload-release-action@v2
      if: ${{ startsWith(github.event.ref, 'refs/tags/') }}
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{ env.OUTPUT_FILE }}.sha256
        asset_name: ${{ env.OUTPUT_FILE }}.sha256
        tag: ${{ github.ref }}
        overwrite: true
